<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  
 <appSettings>
   <add key="OnlineUsername" value="admin@pesdemo3.onmicrosoft.com" />
   <add key="OnlinePassword" value="pass@word1" />
   <add key="OnlineCrmUrl" value="https://pesdemo3.crm.dynamics.com" />
   <add key="AzureKey" value="" />
 </appSettings>

</configuration>
