<mscrm-automation>
  <application-name>Test</application-name>
  <client-name>Test</client-name>
  <admin-configuration>
    <!-- STG -->
    <db-connect-string>K5iDewbHk+KGhC3MIpF9wlCLxhx+6bA9uXC/2Yl6KFAgvpG7Mo3rI7ra9nvNYc6jgRSQ5qTcsa9GmbH2pWQpYQ9MDO+dD/vHkcrkQW6xqgzixmzkA3az+9k96S5PHGOxxMCgG7CNZY4oKWlBVL4CtYrqhv97Fx8ImuxgEEXOQSDHos4YI8HmVkvJLtrdGkkZC2gMUEXjxhZaNk6c92sdJ6TYMI5uHZ1XrGHUg08YoX38RiFRBCOjTw==</db-connect-string>
    <email-configuration>
      <smtp-server>smtp.servicesource.com</smtp-server>
      <from-address>adminprogressportal@servicesource.com</from-address>
      <template-location>email\templates\progress</template-location>
      <image-location>email\images\progress</image-location>
    </email-configuration>
    <browsers>
		<browser-name>Mozilla</browser-name>
    <browser-name>Chrome</browser-name>
	  </browsers>
  </admin-configuration>
  <crm-configuration>
    <host-url>https://pesdemo3.crm.dynamics.com</host-url>
    <tenant-name>Test</tenant-name>
   
	<roles>
		<role>
			<role-name>Sales Manager</role-name>
			<users>
        <user>
          <username>SalesManager@pesdemo3.onmicrosoft.com</username>
          <password>pass@word1</password>
        </user>
			</users>	
		</role>
    <role>
      <role-name>System Admin</role-name>
      <users>
        <user>
        <username>admin@pesdemo3.onmicrosoft.com</username>
      <password>pass@word1</password>
      </user>
      </users>
    </role>
    <role>
      <role-name>General Manager</role-name>
      <users>
        <user>
        <username>GeneralManager@pesdemo3.onmicrosoft.com</username>
      <password>pass@word1</password>
          </user>
      </users>
    </role>
    <role>
      <role-name>Sales Head</role-name>
      <users>
        <user>
        <username>SalesHead@pesdemo3.onmicrosoft.com</username>
      <password>pass@word1</password>
          </user>
      </users>
    </role>
    <role>
      <role-name>Sales User1</role-name>
      <users>
        <user>
        <username>SalesUser1@pesdemo3.onmicrosoft.com</username>
      <password>pass@word1</password>
      </user>
      </users>
    </role>
  </roles>
	<entities>
		<entity>
			<entity-name>Account</entity-name>
			<scenarios>
				<scenario-name>CreateAccount</scenario-name>
				<scenario-name>UpdateAccount</scenario-name>
        <scenario-name>OpenAccount</scenario-name>
        <scenario-name>DeleteAccount</scenario-name>
			</scenarios>
		</entity>
	  <entity>
			<entity-name>Contact</entity-name>
			<scenarios>
				<scenario-name>CreateContact</scenario-name>
				<scenario-name>UpdateContactt</scenario-name>
        <scenario-name>OpenContact</scenario-name>
			</scenarios>
		</entity>
  		<entity>
			<entity-name>Case</entity-name>
			<scenarios>
				<scenario-name>CreateCase</scenario-name>
				<scenario-name>UpdateCase</scenario-name>
        <scenario-name>OpenCase</scenario-name>
			</scenarios>
		</entity>
  	<entity>
			<entity-name>Lead</entity-name>
			<scenarios>
				<scenario-name>CreateLead</scenario-name>
				<scenario-name>UpdateLead</scenario-name>
        <scenario-name>OpenLead</scenario-name>
       <scenario-name>LeadToOpportuninty</scenario-name>
        <scenario-name>BPFLeadToOpportunity</scenario-name>
			</scenarios>
		</entity>
    <entity>
			<entity-name>Opportunity</entity-name>
			<scenarios>
				<scenario-name>CreateOpportunity</scenario-name>
				<scenario-name>UpdateOpportunity</scenario-name>
        <scenario-name>OpenOpportunity</scenario-name>
        <scenario-name>CloseOpportunity</scenario-name>
			</scenarios>
		</entity>
    	<entity>
			<entity-name>General</entity-name>
			<scenarios>
				<scenario-name>Dashboard</scenario-name>
				<scenario-name>DuplicateDetection</scenario-name>
        <scenario-name>GlobalSearch</scenario-name>
        <scenario-name>Reports</scenario-name>
			</scenarios>
		</entity>
	</entities>
  </crm-configuration>
</mscrm-automation>
